In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Mall_Customers.csv')  # or 'data.csv' if renamed
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [3]:
df.shape              # Check rows and columns
df.info()             # Check data types and null values
df.describe()         # Get summary statistics
df.columns            # See column names

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

In [5]:
df.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [7]:
# Example: Fill missing age with mean (if any)
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [9]:
df = df.drop_duplicates()

In [13]:
df['Gender'] = df['Gender'].str.strip().str.lower()

In [17]:
df['Gender'] = df['Gender'].replace({'female': 'F', 'male': 'M'})

In [19]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

In [21]:
df = df.rename(columns={'annual_income_(k$)': 'annual_income_k$', 'spending_score_(1-100)': 'spending_score'})

In [23]:
df.dtypes

customerid           int64
gender              object
age                  int64
annual_income_k$     int64
spending_score       int64
dtype: object

In [27]:
df['age'] = df['age'].astype(int)

In [29]:
df.to_csv('cleaned_mall_customers.csv', index=False)

### Data Cleaning Summary:

- Loaded Mall Customer Segmentation Dataset
- Removed 0 duplicate rows
- No missing values were found in any column
- Standardized 'Genre' values (e.g., 'Male', 'Female' → 'M', 'F')
- Renamed column headers to lowercase and removed spaces (e.g., 'Annual Income (k$)' → 'annual_income_k$')
- Verified and retained correct data types for each column
- Exported cleaned dataset as 'cleaned_mall_customers.csv'